flake8
pytest
pytest-cov
tensorflow; python_version < "3.14"
jax >= 0.5, < 0.6; python_version < "3.14"
jaxlib >= 0.5, < 0.6; python_version < "3.14"
ray; python_version < "3.14"
scikit-learn; python_version < "3.14"
xgboost; python_version < "3.14"
--extra-index-url https://download.pytorch.org/whl/cpu
torch >= 2.8.0; python_version < "3.14"
GPUtil
